# Telegram App settings
API_ID=YOUR_API_ID
API_HASH=YOUR_API_HASH
APP_NAME="pyTelegramDialogsMirror"

# Optional Telegram client settings
REQUEST_RETRIES=3
CONNECTION_RETRIES=3
RETRY_DELAY=9
AUTO_RECONNECT=True
DEVICE_MODEL="pyTelegramDialogsMirror"
LANG_CODE=ru
RECEIVE_UPDATES=True

# Logging Telethon differencies in Dialogs in long-run term
LOG_TELETHON_DIFFERENCES=False

# Optional performance settings for Dialogs fetching
SEND_DELAY=0.9
BATCH_SIZE=150

# The maximum number of dialog (user/channel) names to keep in memory.
# This is a performance optimization that uses a small amount of memory to avoid
# repeated lookups for dialog names. A larger size can improve performance if you
# interact with many different users/channels.
# Memory usage is minimal: 200 items is ~35KB; 1000 items is ~175KB.
MAX_CACHE_SIZE=200

 # Retry and error handling settings
SKIP_SERVICE_MESSAGES=True 
MAX_RETRIES=3
BACKOFF_FACTOR=1.2

# Dialogs|Channel IDs for mirrorin'
CHANNEL_MAPPINGS_STR="SOURCE_CHANNEL_ID_1,TARGET_CHANNEL_ID_1;SOURCE_CHANNEL_ID_2,TARGET_CHANNEL_ID_2"



