# Telegram App settings
API_ID=YOUR_API_ID
API_HASH=YOUR_API_HASH
APP_NAME="pyTelegramDialogsMirror"

# Optional Telegram client settings
REQUEST_RETRIES=3
CONNECTION_RETRIES=3
RETRY_DELAY=18
AUTO_RECONNECT=True
DEVICE_MODEL="pyTelegramDialogsMirror"
LANG_CODE=ru
RECEIVE_UPDATES=True

# Logging Telethon differencies in Dialogs in long-run term
LOG_TELETHON_DIFFERENCES=False

# Optional performance settings for Dialogs fetching
# SEND_DELAY=0.9
# BATCH_SIZE=128

# Dialogs|Channel IDs for mirrorin'
CHANNEL_MAPPINGS_STR="SOURCE_CHANNEL_ID_1,TARGET_CHANNEL_ID_1;SOURCE_CHANNEL_ID_2,TARGET_CHANNEL_ID_2"



