API_ID=YOUR_API_ID
API_HASH=YOUR_API_HASH
APP_NAME=TelegramDialogsMirror
CHANNEL_MAPPINGS_STR="SOURCE_CHANNEL_ID_1,TARGET_CHANNEL_ID_1;SOURCE_CHANNEL_ID_2,TARGET_CHANNEL_ID_2"

# Optional performance settings
# SEND_DELAY=0.8
# BATCH_SIZE=150

# Optional Telegram client settings
TELEGRAM_VER=1.0
REQUEST_RETRIES=3
CONNECTION_RETRIES=3
RETRY_DELAY=188
AUTO_RECONNECT=True
DEVICE_MODEL="pyTelegramDialogsMirror"
SYSTEM_VERSION="Python 3"
APP_VERSION="1.0.0"
LANG_CODE=ru
RECEIVE_UPDATES=True
LOG_TELETHON_DIFFERENCES=False
